* {
  box-sizing: border-box;
  padding: 0;
  margin: 0;
}

#wave-container {
  width: 100%;
  height: 100vh;
  background-color: #f3ada7;
  background: linear-gradient(rgba(136, 186, 223, 0.6588235294), #fbb3a3, rgba(255, 158, 12, 0.6784313725));
  position: relative;
  overflow: hidden;
}
#wave-container .plane {
  position: absolute;
  width: 100px;
  -webkit-animation: fly 20000ms infinite linear;
          animation: fly 20000ms infinite linear;
  cursor: pointer;
  z-index: 1;
}
#wave-container .sun-box {
  position: relative;
  left: 10%;
  top: 10%;
  width: 500px;
  height: 500px;
}
#wave-container .sun-box .sun {
  position: absolute;
  width: 500px;
  height: 500px;
  background-color: #fde86e;
  border-radius: 50%;
  opacity: 0;
  box-shadow: 0 0 50px 10px #fde86e;
  -webkit-animation: sunshadow 4s 1s infinite linear;
          animation: sunshadow 4s 1s infinite linear;
}
#wave-container .sun-box .sun:nth-child(2) {
  width: 300px;
  height: 300px;
  opacity: 0;
  left: calc(25% - 25px);
  top: calc(25% - 25px);
  -webkit-animation: sunshadow 4s infinite linear;
          animation: sunshadow 4s infinite linear;
}
#wave-container .sun-box .sun:nth-child(3) {
  width: 150px;
  height: 150px;
  opacity: 1;
  left: calc(50% - 75px);
  top: calc(50% - 75px);
  -webkit-animation: none;
          animation: none;
}
#wave-container .wave {
  position: absolute;
  width: 1000vw;
  height: 1000vw;
  background: radial-gradient(circle closest-corner at left, rgba(109, 205, 239, 0.7568627451), rgba(141, 205, 228, 0.6470588235), rgba(177, 206, 240, 0.8784313725), rgba(85, 160, 246, 0.8784313725));
  left: -420%;
  top: 900px;
  border-radius: 48%;
  -webkit-animation: waves 30000ms infinite linear;
          animation: waves 30000ms infinite linear;
}
#wave-container .wave:nth-child(2) {
  -webkit-animation: waves 18000ms infinite linear;
          animation: waves 18000ms infinite linear;
  left: -450%;
}
#wave-container .wave:nth-child(3) {
  -webkit-animation: waves 10000ms infinite linear;
          animation: waves 10000ms infinite linear;
  left: -500%;
}
#wave-container .wave:nth-child(4) {
  -webkit-animation: waves 7000ms infinite linear;
          animation: waves 7000ms infinite linear;
  left: -350%;
}
#wave-container .wave:nth-child(5) {
  -webkit-animation: waves 13000ms infinite linear;
          animation: waves 13000ms infinite linear;
  left: -380%;
}
#wave-container .wave:nth-child(6) {
  -webkit-animation: waves 8000ms infinite linear;
          animation: waves 8000ms infinite linear;
  left: -440%;
}

@-webkit-keyframes waves {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}

@keyframes waves {
  0% {
    transform: rotate(0deg);
  }
  100% {
    transform: rotate(360deg);
  }
}
@-webkit-keyframes fly {
  0% {
    left: -10%;
  }
  100% {
    left: 100%;
  }
}
@keyframes fly {
  0% {
    left: -10%;
  }
  100% {
    left: 100%;
  }
}
@-webkit-keyframes sunshadow {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
@keyframes sunshadow {
  0% {
    opacity: 0.3;
  }
  50% {
    opacity: 0;
  }
  100% {
    opacity: 0.3;
  }
}
@-webkit-keyframes sunmove {
  0% {
    transform: rotate(0deg) translate(700px);
  }
  100% {
    transform: rotate(360deg) translate(700px);
  }
}
@keyframes sunmove {
  0% {
    transform: rotate(0deg) translate(700px);
  }
  100% {
    transform: rotate(360deg) translate(700px);
  }
}/*# sourceMappingURL=wavecss.css.map */